<% @bears.each do |bear| %>
  <h2><%= link_to bear.name, bear_path(bear) %></h2>
  <p><%= bear.description %></p>
  <p><%= link_to "Edit", edit_bear_path(bear) %></p>
  <p><%= link_to "Delete", bear_path(bear), method: "delete" %></p>
<% end %>
